<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <title><%= Spontaneous::Site.config.site_domain %>: Please Login</title>
    <link REL="SHORTCUT ICON" HREF="/@spontaneous/static/favicon.ico" />
    <link rel="apple-touch-icon" href="/@spontaneous/static/spot-71fab1d2f065034f5fc15e7bea2ad36c.png" />
    <link rel="stylesheet" href="<%= style_url("spontaneous") %>" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript" charset="utf-8" src="<%= script_url("vendor/jquery") %>"></script>
    <script type="text/javascript">
      var Spontaneous = {
        site_domain: '<%= Spontaneous::Site.config.site_domain %>',
        site_id: '<%= Spontaneous::Site.config.site_id %>',
      };
    </script>
    <script type="text/javascript" charset="utf-8" src="<%= script_url("login") %>"></script>
    <script type="text/javascript">
      (function($) {
        $(function() {
          $('#outer').fadeIn(function() {
            $('#login-form input#user-login').focus();
          });
        });
      }(jQuery));
    </script>
  </head>
  <body id="login">
    <div id="outer" style="display: none">
      <h1>Please Login</h1>
      <div id="login">
        <div id="splash"></div>
        <form id="login-form" action="/@spontaneous/login" method="post" accept-charset="UTF-8">

          <p id="error-message" class="error" <% unless locals[:failed] %>style="display: none"<% end %>><span id="failure-message">Login failed for &lsquo;<span id="failed-name"><%= locals[:login] %></span>&rsquo;</span></p>

          <div class="inputs">
            <input type="hidden" name="origin" value="<%= locals[:origin] || request.path_info %>" />
            <p>
            <label><input type="text" class="text" id="user-login" name="user[login]" value="<%= locals[:login] %>" /><span>Username</span></label>
            </p>
            <p>
            <label><input type="password" class="text" name="user[password]" value="" /><span>Password</span></label>
            </p>
            <p class="submit"><button type="submit">Login</button></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
