<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h3>In Progress</h3>
	<div class="projects">
	<%= in_progress.entries.length %>
		<%= in_progress.render %>
	</div>
	<h3>Completed</h3>
	<div class="projects">
		<%= completed.render %>
	</div>
	<h3>Archived</h3>
	<div class="projects">
		<%= archived.render %>
	</div>
</body>
</html>
